.card-film {
  color: #fff;
  background: rgba(53, 56, 65, 0.8);
  max-width: 282px;
  width: 100%;
  max-height: 520px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}
.icon-like {
  width: 24px;
  height: 24px;
}
.card-film_blocklike-chosen {
  display: flex;
  gap: 10px;
}
