.header {
  /* width: 100%; */
  height: 80px;
  border: 1px solid black;
  color: #fff;
  border-radius: 10px;
  background: rgba(18, 24, 41, 0.8);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 20px 0px 20px;
}
