.header {
  width: 1440px;
  height: 80px;
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.navigate {
  display: flex;
}
li {
  margin-right: 30px;
}
